{% load static %}

<link rel="stylesheet" href="{%static 'register.css' %}" />

{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<div class="outerCover">
  <h1>Sign Up</h1>

  <form action="{% url 'register' %}" method="POST">
    {% csrf_token %}

    <div class="inputBlock">
      <p1>Username:</p1>
      <input type="text" name="username" />
    </div>

    <div class="inputBlock">
      <p1>E-mail:</p1>
      <input type="email" name="email" />
    </div>

    <div class="inputBlock">
      <p1>Password:</p1>
      <input type="password" name="password" />
    </div>

    <div class="inputBlock">
      <p1>Re-enter Password:</p1>
      <input type="password" name="re-password" />
    </div>

    <button type="submit" class="submitButton">Sign Up</button>
  </form>
</div>
