h1 {
  color: blue;
  transition: color 1s;
  cursor: pointer;
  font-size: 12px;
}

h1:hover {
  color: red;
}

.infoBox {
  height: 120px;
  width: 150px;
  padding: 2%;
  border: 1px solid black;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: height 1s, width 1s;
}

.infoBox:hover {
  width: 157px;
  height: 127px;
}

.userInfo {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

h2 {
  font-size: 10px;
}

p {
  cursor: pointer;
}

.logoutButton {
  width: 80px;
  padding: 7px;
  border-radius: 12px;
  background-color: rgb(138, 53, 218);
  border: none;
  color: rgb(247, 243, 243);
}
